body {
  background-color: wheat;
  color: black;
}

header {
  text-align: center;
  padding : 5px;
}

#importButton{
  float : left;
  background-color: maroon;
  color : black;
  font-family : "Arial";
  font-size : 120%;
}

#exportButton{
  float : right;
  background-color : maroon;
  color : black;
  font-family : "Arial";
  font-size : 120%;
}

#backupButton{
  display:none;
  background-color : lightgray;
  font-family : "Arial";
  font-size : 120%;
  margin-bottom : 5px;
}